rules_version = '2';
service cloud.firestore {
  function isAuthenticated() {
      return request.auth != null;
    }
  function isUserAuthenticated(uid) {
    return request.auth.uid == uid
  }

  match /databases/{database}/documents {
    match /books/{ISBN} {
      allow read, write: if true;
    }
    match /{path=**}/comments/{ISBN} {
      allow read, write: if isAuthenticated();
    }
    match /users/{uid} {
      allow read, write: if true;
        match /borrow/{ISBN} {
          allow read, write: if isAuthenticated();
        }
        match /comments/{ISBN} {
          allow read, write: if isAuthenticated();
        }
    }
  }
}